<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表示画面</title>
    <script>
      console.log('<%= time %>');
        let currentImage = 0;
        const images = <%- JSON.stringify(images) %>;
        function changeImage() {
          const imgElement = document.getElementById('show');
          imgElement.src = `${images[currentImage]}`;
          currentImage = (currentImage + 1) % images.length;
          setTimeout(changeImage, Number('<%= time %>')*1000);
        }''
        function SlidechangeImage() {
          const imgElement = document.getElementById('show');
          imgElement.src = `${images[currentImage]}`;
          images[currentImageIndex].style.transform = 'translateX(-100%)';
          currentImage = (currentImage + 1) % images.length;
          images[currentImageIndex].style.transform = 'translateX(0%)';
        };
    
        window.onload = function() {
          changeImage();
        };
      </script>
      <style>
       img{
        width: 500px;
        height: 500px;
       }
      </style>
</head>
<body>
    <img id="show" src="<%= images[0] %>" alt="show">
  <a href="/">戻る</a>
</body>
</html>