<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ファイル登録画面</title>
</head>

<body>
    <h2>現在のファイル一覧</h2>
    <ul>
        <% filenames.map(file=> { %>
            <li>
                <%= file %>
            </li>
            <% }) %>
    </ul>
    <h2>ファイルを取り込む</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Upload</button>
    </form>
    <h2><a href="/display">表示画面に移動する</a></h2>

</html>